
<div class="row">
    <div class="col-4"></div>
    <div class="col-4 mt-5">
        <form class="bg">
            <h1 class="text-center  mt-4 text-success">Login</h1>
            <input type="text" class="form-control mb-3 mt-5 p-2" name="email" placeholder="Enter Email Id" [(ngModel)]="email">
            <input type="text" class="form-control mb-3 p-2" name="pswd" placeholder="Enter Password" [(ngModel)]="pswd">


             <div class="row">
                 <div class="col-4">
                    <button class="btn btn-primary clr" (click)="login()">Login</button>

                 </div>
                 <div class="col-4"></div>
                 <div class="col-4">
                <a routerLink="register">register</a>
                 </div>
             </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>

