<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div *ngIf="books;else error">

            <table class="table table-bordered text-center  table-hover border-secondary">
                <thead class="bg-secondary text-white">
                    <tr>
                        <th>Book Id</th>
                        <th>Book Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let b of books; index as i'>
                        <th scope="row" data-editable="true">{{i+1}}</th>
                        <th scope="row">{{b.book_name}}</th>
                        <th scope="row">{{b.description}}</th>
                        <th scope="row">{{b.price}}</th>
                    </tr>


                </tbody>
            </table>
        </div>
            <ng-template #error>"no books found"</ng-template>
    </div>
 
    <div class="col-4"></div>
</div>
